@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

.hometitle {
    font-size: 8vw;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    background: url('https://media1.tenor.com/m/8ctGtM0JDmUAAAAC/marvel-avengers.gif');
    background-size: 40%;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(245, 11, 11, 0.08);
    margin: 0;
    text-align: center;
    transition: 0.5s;
}

.hometitle:hover {
    font-size: 7vw;
}

@media (max-width: 768px) {
    .hometitle {
        font-size: 10vw;
    }

    .hometitle:hover {
        font-size: 9vw;
    }
}

@media (max-width: 480px) {
    .hometitle {
        font-size: 12vw;
    }

    .hometitle:hover {
        font-size: 11vw;
    }
}
